@use '../abstract/' as *;

body {
  background: $clr-primary-paleblue url('/src/images/pattern-background-mobile.svg') no-repeat top left;
  background-size: contain;
}

.container {
  min-height: 90vh;
}

.wrapper {
  width: 90%;
  max-width: 56em;
  margin: 5rem auto 0 auto;
}

.card {
  background-color: white;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-inline: 3rem;
}

.hero img {
  border-radius: 1rem 1rem 0 0;
}

.title {
  color: $clr-secondary-darkblue;
  // margin: 1.5rem 0;
}

.summary {
  padding-inline: 1.5rem;
  line-height: 1.6;
  text-align: center;
}

.pricing {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  background-color: $clr-secondary-paleblue;
  // margin: 1rem 0;
  padding: 1rem 1rem;
  border-radius: 1rem;
}

.btn {
  display: inline-block;
  font-size: 0.94rem;
  background-color: $clr-primary-brightblue;
  color: white;
  text-align: center;
  padding: 0.75rem 4rem;
  text-decoration: none;
  border-radius: 1rem;
}

.cost {
  font-size: 0.875rem;
}

.change {
  font-size: 0.875rem;
  text-decoration: none;
}

.cancel {
  font-size: 0.94rem;
  text-decoration: none;
  color: $clr-primary-brightblue;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 35em) {
  body {
    background: $clr-primary-paleblue url(/src/images/pattern-background-desktop.svg) no-repeat top left;
    background-size: contain;
  }
}
